@import "tailwindcss";

.button {
    @apply p-3 bg-orange-600 text-white active:bg-orange-500 cursor-pointer;
}

.nav-item {
    @apply p-5 flex justify-center w-1/6 border-x border-gray-200 hover:bg-gray-100 active:bg-gray-200 cursor-pointer;
}

.section-padding {
    @apply px-4 md:px-12 lg:px-18 py-8 md:py-12 lg:py-18;
}

.input-border {
    @apply border border-gray-200 hover:border-gray-500 focus:border-orange-500;
}

.feature-card {
    @apply bg-white p-8 md:p-14 lg:p-14 flex flex-col justify-center items-center;
}

.partner-link {
    @apply p-8 font-bold border border-gray-200 active:bg-gray-100;
}
